@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansMedium';
}


.nav {
    background-color: #99c8eb;
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 40px;
    color: #676464;
}

.nav img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hello {
    margin-left: auto;
    margin-right: 40px;
    color: #676464;
}

.container{
    position: relative;
    top: -50px;
}

.container div {
    position: absolute;
    width: 300px;
    height: 200px;
    
    top: 50%;
    left: 50%;
    margin: 100px 0 0 -150px;
}


.mov {
    /* background-color: #8f8395; */
    position: relative;
}

h1 {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.moov {
    position: absolute;

    width: 560px; 
    height: 315px;
    
    top: 40%;
    left: 50%;
    margin: 0 0 0 -280px;
}


footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 10px;
    font-size: 10px;
}

@media (max-width: 767px) {
    .moov {
        width: 400px;

        top: 40%;
        left: 50%;
        margin: 0 0 0 -200px;
    }

    footer {
        font-size: 5px;
    }
}